div.nav-box{
  margin-top: 80px;
  margin-left: 60px;
  width: 280px;
  height: 200px;
  background-color: cyan;
  filter: alpha(opacity=60) /*IE8 and earlier */
}
div.nav-box2{
  margin-top:115px;
  width: 280px;
  height: 400px;
  background-color: #ffffff;
  opacity: 0.8;

}
ul{
  list-style-type: none;
}
li.name{
  list-style-type: none;
  font-family: Arial;
  font-size:20px;
  top: 80px;
  left: 175px;
  position: relative;
}
li.lname{
  list-style-type: none;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  top: 80px;
  left: 100px;
  position: relative;
}
li.major{
  list-style-type: none;
  font-family: Arial;
  font-size:13px;
  top: 80px;
  left: 100px;
  position: relative;
}
li.minor{
  list-style-type: none;
  font-family: Arial;
  font-size:13px;
  top: 80px;
  left: 25px;
  position: relative;
}
/* nav-box2 list */
.hover{
  background-color: cyan;

}
li a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: 15px;
  width: 100px;
  background-color: #ffffff;
}
li a:hover{
  background-color: #555;
  color: grey;
}
ul.nav-buttons{
  padding: 15px 150px;
}
/* button */
.button1{
  margin-top: 200px;
  height:75px;
  width: 75px;
  border-radius: 50px;
  background-color: cyan;
  border: none;
}
.button1:hover{
  background-color: #00cccc;
  height:100px;
  width: 100px;
}
/*control slider*/
.brightness{
  margin-left: 20px;
}
/* resume background */
div.bg-box{
  margin-left: 400px;
  width: 1200px;
  height: 400px;
  background-color: #ffffff;
  opacity: 0.9;
}
div.about-me{
  margin-left: 20px;
}
/*Resume*/
h1{
  font-family: Arial;
  font-size: 20px;
  margin: 5px 20px;
}
h2{
  font-family: Arial;
  font-size: 20px;
  position: absolute;
  top: 395px;
  left: 800px;
}
p{
  font-family: Arial;
  font-size: 15px;
  line-height: 150%;
  display: block;
}
p.aboutmetext {
  margin-left: 10px;
  margin-right: 20px;
  width: 20%;
}
div.bar1{
  position: relative;
  left: 300px;
  bottom: 150px;
}
div.bar2{
  position: relative;
  left: 300px;
  bottom: 130px;
}
div.bar3{
  position: relative;
  left: 300px;
  bottom: 110px;
}
/*progress bar */
#Progressbar{
  width: 20%;
  height: 15px;
  background-color: grey;
}

#myBar{
  width: 1%;
  height: 15px;
  background-color: cyan;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  color: grey;
}
#myBar2{
  width: 1%;
  height: 15px;
  background-color: #00e6e6;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  color: grey;
}
#myBar3{
  width: 1%;
  height: 15px;
  background-color: #00cccc;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
  color: grey;
}
#cplus{
  border-radius: 25px;
  position: relative;
  background-color: cyan;
  bottom: 15px;
  left: 245px;
  width: 35px;
  height:15px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold%;
  line-height: 15px;
}
#java{
  border-radius: 25px;
  position: relative;
  background-color: #00e6e6;
  bottom: 15px;
  left: 245px;
  width: 35px;
  height:15px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold%;
  line-height: 15px;
}
#sql{
  border-radius: 25px;
  position: relative;
  background-color: #00cccc;
  bottom: 15px;
  left: 245px;
  width: 35px;
  height:15px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold%;
  line-height: 15px;
}
div.contact-box{
  position: relative;
  background-color: #004d99;
  left: 500px;
  bottom: 220px;
  height: 600px;
  width: 400px;
  text-align: center;
  font-family: Arial;
  opacity: 0.9;
}
#hex-bg{
  position: relative;
  bottom: 359px;
  left: 650px;
  width: 550px;
  height: 400px;
  background-color: green;
  font-family: monospace;
  text-align: center;
  color: #ffffff;
}
#clock{
  position: relative;
  font-size: 30px;
  top: 150px;
}
#hex-color{
  position: relative;
  font-size: 18px;
  top: 160px;
}
h4{
    font-family: Arial;
    position: relative;
    top: 20px;
    color: white;
}
p.phone{
  position: relative;
  top: 50px;
  background-color: cyan;
  border-radius: 24px;
  margin-left: 80px;
  margin-right: 80px;
}
p.email{
  position: relative;
  top: 70px;
  background-color: cyan;
  border-radius: 24px;
  margin-left: 80px;
  margin-right: 80px;
}
p.Address{
  position: relative;
  top: 70px;
  background-color: cyan;
  border-radius: 24px;
  margin-left: 80px;
  margin-right: 80px;
}
img.contact-icon{
  position: relative;
  right: 120px;
}
